<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/3ec4a20eeb.js" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="stylesheet" href="css/style.css">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.7.4/dist/vue.js"></script>
    <title>Carousel</title>
</head>

<body>
    <div id="root" class="container">
        <div id="gallery">
            <!-- PREVIOUS BUTTON -->
            <i v-show="!firstPosition" type="button" id="previous" class="btn btn-primary"
                @click="goPrev()">PREVIOUS</i>
            <!-- CAROUSEL -->
            <div id="carousel">
                <img v-for="(image, index) in images" :class="{'active scale' : currentIndex === index}"
                    :src="image.url" :alt="image.title">
            </div>
            <!-- NEXT-BUTTON -->
            <i v-if="!lastPosition" type="button" id="next" class="btn btn-success" @click="goNext()">NEXT</i>
        </div>
        <!-- CAROUSEL THUMBNAILS -->
        <div class="d-flex" id="thumbnail">
            <img v-for="(image, index) in images" :class="{'active scale' : currentIndex === index}" :src="image.url"
                :alt="image.title">
        </div>
    </div>
    <!-- <div class="autoplay">
        <button class="text-center" id="button">Pause</button>
    </div> -->
    <script src="js/script.js"></script>
</body>

</html>